body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #262626;
    overflow: hidden;
}

input,
.toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
}

input {
    opacity: 0;
}

.toggle {
    pointer-events: none;
    border-radius: 50%;
    background: #CCC;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    transition: 0.5s;
    box-shadow: 0px 0px 0px 0px darkcyan;
}

input:checked~.toggle {
    box-shadow: 0px 0px 0px 500px darkcyan;
    transform: rotate(225deg);
}